<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main>
    <div>
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>
      <ul class="links">
        <li><a href="https://www.x.com/intent/post?url={{ .Title }}:%20{{ .Permalink }}" target="_blank" title="Share on X"><img src="https://cdn.simpleicons.org/x/96a2b0" draggable="false" alt="X Icon"></a></li>
        <li><a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" title="Share via email"><i data-lucide="mail"></i></a></li>
        <li><a onclick="navigator.clipboard.writeText('{{ .Permalink }}');" title="Copy link"><i data-lucide="link"></i></a></li>
      </ul>
      <div class="article-image">{{ with .Params.image }}<img src="{{ . }}">{{ end }}</div>
      <div class="article-content">{{ .Content }}</div>
    </div>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>