<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Alexander499">

<!-- Tab -->
<title>{{ with .Params.title }}{{ . }} &centerdot;{{ end }} Blog &centerdot; 𝓐𝓵𝓮𝔁𝓪𝓷𝓭𝓮𝓻499</title>
<link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
  <text y=%221em%22 font-size=%2285%22>💻</text>
</svg>" type="image/x-icon">

<!-- Styles -->
<link rel="stylesheet" href="/styles/compiled/general.css">
<link rel="stylesheet" href="/styles/compiled/main.css">
<link rel="stylesheet" href="/styles/compiled/header.css">
<link rel="stylesheet" href="/styles/compiled/footer.css">

<!-- Scripts -->
<noscript>Either you have disabled JavaScript or your browser doesn't support it. Get a new Browser (e.g. Google Chrome, Microsoft Edge, Safari, Mozilla Firefox, Opera).</noscript>